.container {
    padding: 15px 15px 15px 15px;
    background: linear-gradient(135deg, #93f9f433, #fbe3ff5f);
    margin-right: 4px;
}

.row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.row lightning-input,
.row lightning-combobox {
    flex: 1;
}

.full-width {
    margin-bottom: 15px;
}

.btn-section {
    text-align: center;
    margin-top: 10px;
}

.success {
    margin-top: 15px;
    color: green;
    text-align: center;
    font-weight: bold;
}

.Heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(#2e8ba77b, #dafff0);
    align-items: center;
    text-align: center;
    font-size: 24px;
    color: #4318b1;
    font-weight: bold;
}